	<input onkeyup="Nom Client()" type="text"
    placeholder="Nom Client &ensp; &ensp;" style=
	"width: 120px; height: 20px;" font size="+3">
	<input onkeyup="Date De Création()" type="text"
    placeholder="Date De Création &ensp; &ensp;" style=
	"width: 120px; height: 20px;" font size="+3">
	</br>
	<input onkeyup="Prénom Client()" type="text"
    placeholder="Prénom Client &ensp; &ensp;" style=
	"width: 120px; height: 20px;" font size="+3">
	<input onkeyup="Date Du Service()" type="text"
    placeholder="Date Du Service &ensp; &ensp;" style=
	"width: 120px; height: 20px;" font size="+3">