<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='card.css')}}">

<!-- tests à faire pour changer le contenu d'une carte en fonction du path -->
<form action="{{PATH}}" method="post">
    <div class="client">
        <h2>Ajouter {{CARD_TITLE}}</h2>
        {% if PATH == "/add_client" %}
        <div class="info-client">
        {% elif PATH == "/add_devis" %}
        <div class="info-client" id="devis">
        {% elif PATH == "/add_facture" %}
        <div class="info-client" id="facture">
        {% endif %}
            <div class="inputs-client">
                {% if PATH == "/add_client" %}
                    <div class="row">
                        <input type="text" id="i_nom" placeholder="Nom...">
                        <input type="text" id="i_prenom" placeholder="Prénom..." >
                    </div>
                    <div class="row">
                        <input type="text" id="i_ad" placeholder="Adresse..." >
                        <input type="text" id="i_post" pattern="[0-9]{5}" placeholder="Code Postale..." >
                    </div>

                    <div class="row">
                        <input type="email" id="i_mail" pattern="[A-Za-z0-9]+@[A-Za-z]+[.]{1}[a-z]+" placeholder="Mail..." >
                        <input type="tel" id="i_tel" pattern="([0-9]{2} ){4}[0-9]{2}" placeholder="Téléphone..." >
                    </div>
                    <input type="text" id="i_desc" placeholder="Description..." >

                {% elif PATH == "/add_facture" %}
                    <label>Choisir un Client</label>
                    <select id="s_client">
                        {% for c in CLIENTS.values() %}
                            {% if c.id == CLIENT_SELECTED %}
                                <option value="{{c.id}}" selected>{{c.surname}}  -  {{c.firstname}}  -  {{c.mail}}</option>
                            {% else %}
                                <option value="{{c.id}}">{{c.surname}}  -  {{c.firstname}}  -  {{c.mail}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <label>Date de Création et d'Échéance</label>
                    <div class="row">
                        {% if "creation_date" in ERROR_FLAGS or "due_date" in ERROR_FLAGS %}
                            {% if DEVIS != None %}
                                <input type="date" class="error" id="i_creation" placeholder="Date de Création..." value="{{DEVIS.creation_date}}" >
                            {% else %}
                                <input type="date" class="error" id="i_creation" placeholder="Date de Création..." >
                            {% endif %}
                            <input type="date" class="error" id="i_due" placeholder="Date d'Échéance..." >
                        {% else %}
                            {% if DEVIS != None %}
                                <input type="date" id="i_creation" placeholder="Date de Création..." value="{{DEVIS.creation_date}}" >
                            {% else %}
                                <input type="date" id="i_creation" placeholder="Date de Création..." >
                            {% endif %}
                            <input type="date" id="i_due" placeholder="Date d'Échéance..." >
                        {% endif %}
                    </div>

                    {% if DEVIS != None %}
                        <input type="text" id="i_desc" placeholder="Description..." value="{{DEVIS.comment}}">
                    {% else %}
                        <input type="text" id="i_desc" placeholder="Description..." >
                    {% endif %}

                    <label>Produits</label>
                    <div class="row">
                        {% for i in range(10) %}
                            {% if "list_items" in ERROR_FLAGS %}
                            <div class="col" id="error">
                            {% else %}
                            <div class="col">
                            {% endif %}
                                {% if DEVIS != None %}
                                    {% if DEVIS.list_items[i] and DEVIS.list_items[i].name != '' %}
                                        <input type="text" class="prod" id="ip_n{{i+1}}" placeholder="Nom-{{i+1}}..." value="{{DEVIS.list_items[i].name}}">
                                        <input type="text" class="prod" id="ip_d{{i+1}}" placeholder="Description-{{i+1}}..." value="{{DEVIS.list_items[i].description}}">
                                        <input type="number" min="1" class="prod" id="ip_q{{i+1}}" placeholder="Quantité-{{i+1}}..." value="{{DEVIS.list_items[i].quantity}}">
                                        <input type="number" min="0" class="prod" id="ip_p{{i+1}}" placeholder="Prix-{{i+1}}..." value="{{DEVIS.list_items[i].price}}">
                                    {% else %}
                                        <input type="text" class="prod" id="ip_n{{i+1}}" placeholder="Nom-{{i+1}}..." >
                                        <input type="text" class="prod" id="ip_d{{i+1}}" placeholder="Description-{{i+1}}..." >
                                        <input type="number" min="1" class="prod" id="ip_q{{i+1}}" placeholder="Quantité-{{i+1}}..." >
                                        <input type="number" min="0" class="prod" id="ip_p{{i+1}}" placeholder="Prix-{{i+1}}..." >
                                    {% endif %}
                                {% else %}
                                    <input type="text" class="prod" id="ip_n{{i+1}}" placeholder="Nom-{{i+1}}..." >
                                    <input type="text" class="prod" id="ip_d{{i+1}}" placeholder="Description-{{i+1}}..." >
                                    <input type="number" min="1" class="prod" id="ip_q{{i+1}}" placeholder="Quantité-{{i+1}}..." >
                                    <input type="number" min="0" class="prod" id="ip_p{{i+1}}" placeholder="Prix-{{i+1}}..." >
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>

                    <label>Acomptes</label>
                    <div class="col-deposit">
                        {% for i in range(5) %}
                            {% if "list_deposits" in ERROR_FLAGS %}
                            <div class="row-deposit" id="error">
                            {% else %}
                            <div class="row-deposit">
                            {% endif %}
                                <input type="date" class="prod" id="id_d{{i+1}}" placeholder="Date-{{i+1}}..." >
                                <input type="number" min="0" class="prod" id="id_s{{i+1}}" placeholder="Somme-{{i+1}}..." >
                            </div>
                        {% endfor %}
                    </div>
                {% elif PATH == "/add_devis" %}
                    <label>Choisir un Client</label>
                    <select id="s_client">
                        {% for c in CLIENTS.values() %}
                            {% if c.id == CLIENT_SELECTED %}
                                <option value="{{c.id}}" selected>{{c.surname}}  -  {{c.firstname}}  -  {{c.mail}}</option>
                            {% else %}
                                <option value="{{c.id}}">{{c.surname}}  -  {{c.firstname}}  -  {{c.mail}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <label>Date de Création</label>
                    {% if "creation_date" in ERROR_FLAGS %}
                        <input type="date" class="error" id="i_creation" placeholder="Date de Création..." >
                    {% else %}
                        <input type="date" id="i_creation" placeholder="Date de Création..." >
                    {% endif %}

                    <input type="text" id="i_desc" placeholder="Description..." >

                    <label>Produits</label>
                    <div class="row">
                        {% for i in range(10) %}
                            {% if "list_items" in ERROR_FLAGS %}
                            <div class="col" id="error">
                            {% else %}
                            <div class="col">
                            {% endif %}
                                <input type="text" class="prod" id="ip_n{{i+1}}" placeholder="Nom-{{i+1}}..." >
                                <input type="text" class="prod" id="ip_d{{i+1}}" placeholder="Description-{{i+1}}..." >
                                <input type="number" min="1" class="prod" id="ip_q{{i+1}}" placeholder="Quantité-{{i+1}}..." >
                                <input type="number" min="0" class="prod" id="ip_p{{i+1}}" placeholder="Prix-{{i+1}}..." >
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="bouton">
            {% if PATH == "/add_client" %}
                <button class="button" id="save_btn" type="submit" name="save_card"
                onclick="save_btn.value = 'ADD_SAVE¤'+i_nom.value+'¤'+i_prenom.value+'¤'+i_ad.value+'¤'+i_post.value+'¤'+i_mail.value+'¤'+i_tel.value+'¤'+i_desc.value"
                value="SAVE" role="button" >Sauvegarder</button>
            {% elif PATH == "/add_facture" %}
                <button class="button" id="save_btn" name="save_card"
                onclick="save_btn.value = 'ADD_SAVE¤'+s_client.value+'¤'+i_creation.value+'¤'+i_due.value+'¤'+i_desc.value+'¤'
                +id_d1.value+'¤'+id_s1.value+'¤'+id_d2.value+'¤'+id_s2.value+'¤'+id_d3.value+'¤'+id_s3.value+'¤'+id_d4.value+'¤'+id_s4.value+'¤'+id_d5.value+'¤'+id_s5.value+'¤'
                +ip_n1.value+'¤'+ip_d1.value+'¤'+ip_q1.value+'¤'+ip_p1.value+'¤'+ip_n2.value+'¤'+ip_d2.value+'¤'+ip_q2.value+'¤'+ip_p2.value+'¤'
                +ip_n3.value+'¤'+ip_d3.value+'¤'+ip_q3.value+'¤'+ip_p3.value+'¤'+ip_n4.value+'¤'+ip_d4.value+'¤'+ip_q4.value+'¤'+ip_p4.value+'¤'
                +ip_n5.value+'¤'+ip_d5.value+'¤'+ip_q5.value+'¤'+ip_p5.value+'¤'+ip_n6.value+'¤'+ip_d6.value+'¤'+ip_q6.value+'¤'+ip_p6.value+'¤'
                +ip_n7.value+'¤'+ip_d7.value+'¤'+ip_q7.value+'¤'+ip_p7.value+'¤'+ip_n8.value+'¤'+ip_d8.value+'¤'+ip_q8.value+'¤'+ip_p8.value+'¤'
                +ip_n9.value+'¤'+ip_d9.value+'¤'+ip_q9.value+'¤'+ip_p9.value+'¤'+ip_n10.value+'¤'+ip_d10.value+'¤'+ip_q10.value+'¤'+ip_p10.value;
                onsubmit();"
                value="SAVE" role="button">Sauvegarder</button>
            {% elif PATH == "/add_devis" %}
                <button class="button" id="save_btn" name="save_card"
                onclick="save_btn.value = 'ADD_SAVE¤'+s_client.value+'¤'+i_creation.value+'¤'+i_desc.value+'¤'
                +ip_n1.value+'¤'+ip_d1.value+'¤'+ip_q1.value+'¤'+ip_p1.value+'¤'+ip_n2.value+'¤'+ip_d2.value+'¤'+ip_q2.value+'¤'+ip_p2.value+'¤'
                +ip_n3.value+'¤'+ip_d3.value+'¤'+ip_q3.value+'¤'+ip_p3.value+'¤'+ip_n4.value+'¤'+ip_d4.value+'¤'+ip_q4.value+'¤'+ip_p4.value+'¤'
                +ip_n5.value+'¤'+ip_d5.value+'¤'+ip_q5.value+'¤'+ip_p5.value+'¤'+ip_n6.value+'¤'+ip_d6.value+'¤'+ip_q6.value+'¤'+ip_p6.value+'¤'
                +ip_n7.value+'¤'+ip_d7.value+'¤'+ip_q7.value+'¤'+ip_p7.value+'¤'+ip_n8.value+'¤'+ip_d8.value+'¤'+ip_q8.value+'¤'+ip_p8.value+'¤'
                +ip_n9.value+'¤'+ip_d9.value+'¤'+ip_q9.value+'¤'+ip_p9.value+'¤'+ip_n10.value+'¤'+ip_d10.value+'¤'+ip_q10.value+'¤'+ip_p10.value;
                onsubmit();"
                value="SAVE" role="button" >Sauvegarder</button>
            {% endif %}
        </div>
    </div>
</form>
