{% extends "template.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='client.css')}}">
<body>
    <h1 title="tooltip quand on laisse souris dessus">
        Affichage des infos d'un client
    </h1>
    <!-- Ecriture d'une boucle for en qui parcoure la  liste des variables passée en paramètre (contenue dans la variable 'posts') -->
    {% for post in posts %}
        <section>
            Nom : {{ post.Nom }} <!-- double {{ var }} pour afficher le contenu de var -->
            <br> <!-- Retour à la ligne -->
            Prenom : {{ post.Prenom }}
            <br>
            Tel : {{ post.Tel }}
            <br>
            Mail : {{ post.Mail}}
            <br>
            Description : {{ post.Description }}
        </section>
    {% endfor %}
    
    <p id="url"></p>
    <script>
        document.getElementById("url").innerHTML = "Voici l'url : " + window.location.href;
    </script>
</body>
{% endblock %}