{% extends "template.html" %}
{% block content %}
<!-- onkeyup="Rechercher une facture()" : erreur -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='facture.css')}}">
<input id="searchbar" type="text"
name="search" placeholder="Rechercher un devis &ensp; &ensp; &ensp; &ensp; &ensp;&ensp; &ensp; &ensp; &ensp; &ensp;&ensp; &ensp; &ensp; &ensp; &ensp; &#x1F50D;"
style="width: 400px; height:40px ;">

<form action="">

  <div class="name-filed">
  	<div>
  		<label>Prénom Client</label>
  		<input type="text">
  		<label> Nom Client </label>
  		<input type="text">
  	</div>

  	<div>
  		<label> Date de Création </label>
  		<input type="text">
  		<label> Date du Service </label>
  		<input type="text">
  	</div>
  	<input type="submit" value="Enregistrer">
  	<input type="submit" value="Supprimer">
  	<input type="submit" value="Modifier">

  </div>

</form>
{% endblock %}
