<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='header-navbar.css')}}">

<header>
    {% for _id, _path in [("Projet-Facture", "http://127.0.0.1:5000/formulaire"), ("Facture", "http://127.0.0.1:5000/facture"), ("Devis", "http://127.0.0.1:5000/devis"), ("Client", "http://127.0.0.1:5000/client"), ("Artisan", "http://127.0.0.1:5000/artisan")] %}
        {% if _id == ID %}
            <a id="{{_id}}" class="select" href="{{_path}}"> {{_id}} </a>
        {% else %}
            <a id="{{_id}}" href="{{_path}}"> {{_id}} </a>
        {% endif %}
    {% endfor %}
</header>