@import "color-ref.css";

body{
    margin: 0;
    background-color: var(--light-grey);
}

*{
    box-sizing: border-box;
}
h2{
    font-size: 30px;
    color:var(--light-grey)   ;
    text-align:center;
}
.client{
    margin: 10px 15px;
    padding: 50px;
    border-radius: 10px;
    background-color: var(--bg-color);
    color: var(--light-grey);
}

input{
    height: 35px;
    background-color: var(--fg-color);
    color: var(--light-grey);
    border: none;
    padding-left: 1.5%;
    border-radius: 5px;
}

/*
    INFO ARTISAN
*/
.info-client{
    display: flex;
    flex-direction: row-reverse;
    font-size: 30px;
    justify-content: space-between;
}

.info-client .logo-client{
    width: 0px;
    height: 200px;
}

.info-client .inputs-client{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
}

.info-client .inputs-client .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-client .inputs-client .row input{
    width: 45%;
}


.bouton{
    width: 100%;
    height: 10%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.button {
    margin-left: 80%;
    align-items: center;
    background-color: var(--fg-color);
    color: var(--light-grey);
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    height: 60%;
    justify-content: center;
    min-width: 140px;
    border:0;
    text-align: center;
    transition: all .3s;
    border-radius: 5px;

}



.button:hover {
  color: var(--dark-grey);
  background-color: var(--light-grey);
  fill: #06f;
}

/* POP UP */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
