/*PALETTE : 18191A 242526 3A3B3C F0F2EF 616263*/

:root {
    --navBar: #18191A ;
    --navBar_text: #F0F2EF;
    --selection: #616263;
    --bg: #F0F2EF;
    --text: #18191A;
}


/*#2f435e, #44566c, #ececec, #4b5e65, #201b22 */

/* 2274a5   443730  F0F2EF  A69F98  BB9457 */