<!DOCTYPE html>
<html>
    <head>
        <!-- En-tête de la page -->
        <meta charset="utf-8" />
        <link rel="stylesheet" href="artisan.css" />

        <h1>Titre</h1>
    </head>

    <body>
        <!-- Corps de la page -->
        <div class="feuille">
            <div class="divformulaire">
                <form id="formulaire" method="get">
                    <p>
                       <input id="nom_e" type="text" placeholder="Nom d'entreprise"  value="" />
                    </p>
                    <p>
                       <input id="nom" type="text" placeholder="Nom" value="" />
                       <input id="prenom" type="text" placeholder="Prenom"  value="" />
                    </p>
                    <p>
                       <input id="adresse_e" type="text" placeholder="Adresse Entreprise" value="" />
                    </p>
                    <p>
                       <input id="email" type="text" placeholder="E-mail" value="" />
                    </p>
                    <p>
                       <input id="telephone" type="text" placeholder="Telephone" value="" />
                    </p>
                    </form>
            </div>
            <div class="divlogo">
                <div id="carrelogo">
                    <span class="textlogo">LOGO</span>
                </div>
            </div>
            <h2>Style de formulaire</h2>
            <div class ="carousel">
              <ul>
                <li>
                  <div class="template">
                    <span class="textlogo">STYLE</span>
                  </div>
                </li>
                <li>
                  <div class="template">
                    <span class="textlogo">STYLE</span>
                  </div>
                </li>
                <li>
                  <div class="template">
                    <span class="textlogo">STYLE</span>
                  </div>
                </li>
                <li>
                  <div class="template">
                    <span class="textlogo">STYLE</span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="bouton">
              <button class="button" role="button">Sauvegarder</button>
            </div>
        </div>

    </body>
</html>